<ion-header class="theme-light">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">{{ 'Common.BtnCancel' | translate }}</button>
    </ion-buttons>

    <ion-title>
      {{ 'Product.FilterProduct' | translate }}
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="applyFilters()" strong>{{ 'Common.BtnDone' | translate }}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'Product.SearchTerm' | translate }}:</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'Product.Category' | translate }}:</ion-label>
      <ion-select [(ngModel)]="category_id" interface="action-sheet">
        <ion-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>{{ 'Product.Manufacturer' | translate }}:</ion-label>
        <ion-select [(ngModel)]="manufacturer_id" interface="action-sheet">
          <ion-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{manufacturer.name}}</ion-option>
        </ion-select>
      </ion-item>

    <ion-item>
      <ion-label>{{ 'Product.PriceRange' | translate }}:</ion-label>
      <ion-input type="number"></ion-input>
      <ion-input type="number"></ion-input>
    </ion-item>
    
  </ion-list>

  <ion-list>
    <button ion-item (click)="resetFilters()" detail-none class="reset-filters">
      {{ 'Common.ResetAllFilters' | translate }}
    </button>
  </ion-list>

</ion-content>