<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Order.OrderNo' | translate }} #{{ order.id }}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="viewOrderEdit(order)">{{ 'Common.BtnEdit' | translate }}</button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="order">
        {{ 'Common.OrderLabel' | translate }}
      </ion-segment-button>
      <ion-segment-button value="address">
        {{ 'Common.AddressLabel' | translate }}
      </ion-segment-button>
      <ion-segment-button value="products">
        {{ 'Common.ProductLabel' | translate }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div [ngSwitch]="segment">
    <!-- Order Info -->
    <ion-list *ngSwitchCase="'order'">
      <ion-item>
        <ion-row>
          <ion-col col-6>{{ 'Order.OrderNo' | translate }}
            <a>#{{ order.id }}</a>
          </ion-col>
          <ion-col col-6>
            <ion-icon name='call' color="primary" (click)="openDialer(order)">
              <a *ngIf="shippingAddress != null">{{shippingAddress.phone_number}}</a>
              <a *ngIf="shippingAddress == null && billingAddress != null">{{billingAddress.phone_number}}</a>
            </ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>{{ order.customer.first_name }}</ion-col>
          <ion-col col-6>
            {{ 'Order.OrderStatus' | translate }}:
            <ion-badge item-end style="margin-top: 0px; margin-bottom: 0px;">
              {{ order.order_status_name }}
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            {{ 'Order.PaymentStatus' | translate }}:
            <ion-badge item-end style="margin-top: 0px; margin-bottom: 0px;">
              {{ order.payment_status_name }}
            </ion-badge>
          </ion-col>
          <ion-col col-6>{{ 'Common.TotalAmount' | translate }}:: {{ order.order_total | number }} VND</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
              {{ 'Order.ShippedDate' | translate }}:
              <a style="color: #ff0000;"> {{ order.shipped_date_utc | date:'dd-MM-yyyy HH:mm a' }}</a>
              <!-- <a style="color: #ff0000;"> {{ order.shipped_date_utc | date:'dd-MM-yyyy HH:mm a z':'+0900' }}</a> -->
          </ion-col>
        </ion-row>
        
      </ion-item>
    </ion-list>

    <!-- Address -->
    <div *ngSwitchCase="'address'">
      <ion-list *ngIf="shippingAddress != null">
        <ion-item style="color: #488aff; cursor: pointer;" (click)="startExternalMap(shippingAddress)">
          <ion-icon name="locate" item-start color="primary"></ion-icon>
          {{ 'Common.ShippingAddress' | translate }}
        </ion-item>
        <ion-item>
          {{ 'Common.Name' | translate }}:
          <span>{{ shippingAddress.first_name }}</span>
        </ion-item>
        <ion-item>
          {{ 'Common.Email' | translate }}:
          <span>{{ shippingAddress.email }}</span>
        </ion-item>
        <ion-item>
          {{ 'Common.Phone' | translate }}:
          <a>{{ shippingAddress.phone_number }}</a>
        </ion-item>
        <ion-item>
          {{ 'Common.Addressline' | translate }}:
          <div style="padding-top: 8px; word-wrap: break-word;">{{ shippingAddress.address1 }}</div>
        </ion-item>
        <ion-item>
          {{ 'Common.Ward' | translate }}:
          <span>{{ shippingAddress.ward }}</span>
        </ion-item>
        <ion-item>
          {{ 'Common.District' | translate }}:
          <span>{{ shippingAddress.district }}</span>
        </ion-item>
        <ion-item>
          {{ 'Common.State' | translate }}:
          <span>{{ shippingAddress.province }}</span>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="billingAddress != null">
        <ion-item style="color: #488aff; cursor: pointer;" (click)="startExternalMap(billingAddress)">
          <ion-icon name="locate" item-start color="primary"></ion-icon>
          {{ 'Common.BillingAddress' | translate }}
        </ion-item>
        <ion-item>
          {{ 'Common.Name' | translate }}:
          <span>{{ billingAddress.first_name }}</span>
        </ion-item>
        <ion-item>
          {{ 'Common.Email' | translate }}:
          <span>{{ billingAddress.email }}</span>
        </ion-item>
        <ion-item>
          {{ 'Common.Phone' | translate }}:
          <a>{{ billingAddress.phone_number }}</a>
        </ion-item>
        <ion-item>
          {{ 'Common.Addressline' | translate }}:
          <div style="padding-top: 8px; word-wrap: break-word;">{{ billingAddress.address1 }}</div>
        </ion-item>
        <ion-item>
          {{ 'Common.Ward' | translate }}:
          <span>{{ billingAddress.ward }}</span>
        </ion-item>
        <ion-item>
          {{ 'Common.District' | translate }}:
          <span>{{ billingAddress.district }}</span>
        </ion-item>
        <ion-item>
          {{ 'Common.State' | translate }}:
          <span>{{ billingAddress.province }}</span>
        </ion-item>
      </ion-list>
    </div>

    <!-- Products -->
    <ion-list *ngSwitchCase="'products'">
      <ion-item *ngFor="let item of order.order_items">
        <ion-thumbnail item-start>
          <img *ngIf="item.product.images.length > 0" [src]="item.product.images[0].src">
          <img *ngIf="item.product.images == null || item.product.images.length == 0" src="assets/img/avatar/luke.jpg">
        </ion-thumbnail>
        <h2>{{ item.product.name }}</h2>
        <p>{{ 'Common.Quantity' | translate }}: {{ item.quantity | number }}</p>
        <p>{{ 'Common.Prices' | translate }}: {{ item.price_excl_tax | number }} VND</p>
        <p>{{ 'Common.Total' | translate }}: {{ item.product.price | number }} VND</p>
        <button ion-button clear item-end>{{ 'Common.BtnView' | translate }}</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>